fastapi
uvicorn
sqlmodel
passlib
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
zxcvbn
Pillow
stegano
requests
pydantic-settings
aiohttp
dnspython
openpyxl
reportlab

httpx
PyPDF2
python-docx
mutagen
python-whois
